* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: serif;
  font-weight: bold;
}

          /* Шапка */
.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.header_content2 {
  width: 40%;
  background-color: #57ad78;
  text-align: center;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}
.header_content {
  width: 20%;
  text-align: left;
}
.header_content3 {
  width: 20%;
  text-align: right;
}
.header_content, .header_content3 {
  height: 40px;
  line-height: 40px;
}
          /* Секция 1 */
.main {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main2 {
  height: 300px;
}
        .main_content {
          height: 100px;
          background-color: #f2b149;
          text-align: center;
          line-height: 100px;
          color: #000;
          font-size: 40px;
          text-transform: uppercase;
        }
        .main_content2, .main3, .main4 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 23px;
          color: #fff;
          text-transform: uppercase;
          height: 200px;
          padding: 10px;
        }
        .content, .content2, .content3 {
          text-align: left;
        }
.main2, .main3, .main4 {
  background-color: #c4bc14;
  margin-bottom: 10px;
}
.main3, .main4 {
  height: 200px;
}

/* Секция 2 */
.second_section {
  display: flex;
  justify-content: space-between;
}
.block, .block2 {
  height: 800px;
  width: 49%;
}
.block_head {
  height: 100px;
  background-color: #34eba4;
  text-align: center;
  line-height: 100px;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
}
.block_content {
  background-color: #34ebeb;
}
.block_head2 {
  height: 100px;
  background-color: #34eba4;
  text-align: center;
  line-height: 1.5;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
}
.block_content, .block_content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-color: #34ebeb;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
}
span {
  color: #000;
}
